
  
  /* Additional styles for QuoraDefaultBox */
  .Quora-Box {
    width: 69%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #243041;
    padding: 10px 20px;
    border-radius: 40px;
    margin-bottom: 20px;
    align-self: center;
    border: 3px solid;
    animation: smoothBorderColorChange 3s linear infinite;
    box-shadow: 0 5px 15px rgba(1, 1, 1, 1);
  }
  
  .quora-avatar {
    margin: 10px 20px;
  }
  
  .QuoraBox-Info {
    width: 100%;
    flex-grow: 0.4;
  }
  
  .quora-input {
    font-size: large;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
    margin-left: 10px;
    font-weight: 550;
  }
  
  .Quora-Box button {
    color: black;
    font-weight: bold;
    font-size: medium;
    border-radius: 20px;
    background-color: white;
    margin: 10px 15px 10px 70px;
  }
  
  .Quora-Box button:hover {
    background-color: rgb(55, 244, 55);
    
  }
  
  @keyframes smoothBorderColorChange {
    0% {
      border-color: red;
    }
    25% {
      border-color: yellow;
    }
    50% {
      border-color: rgb(6, 252, 6);
    }
    75% {
      border-color: rgb(0, 183, 255);
    }
    100% {
      border-color: red;
    }
  }