.Sidebar{
    /* border: 1px solid red; */
    width: 100%; /* Adjust the width as needed */
    overflow: hidden; /* Hide overflowing content */
    border-right: 0px solid #ff2600;
    border-radius: 0px;
    align-items: center;
    padding-left: 30px;
    /* background-color: rgb(232, 33, 33); */
}
.side-content{
    /* border: 1px solid gray; */
    padding: 5px 0px;
    display: flex;
    gap: 0.5rem;
    margin-top: 15px;
    /* box-shadow: 0px 4px 6px rgba(0,0,0,0.5); */
    font-size: 18px;
    cursor: pointer;
    justify-content: flex-start;
}
.side-content:hover{
    box-shadow: 0px 4px 6px rgba(0,0,0,0.5);
    background-color: white;
    color: black;
    font-weight: 700;
    border-radius: 20px;
}

.profile-icon img{
    width: 30px;
}
.Sidebar .btn{
    display: flex;
    align-items: center;
    width: 40%;
    background-color:#c92e29 ;
    border-radius: 5px;
}
.Sidebar .btn .MuiSvgIcon-root{
    color: white;
    font-size: 1.5rem;
    margin: 2px;
    
}
.Sidebar button{
    font-size: 1.2rem;
    background:none;
    color: white;
    font-weight: 300;
    border: none;
    padding: 7px 0;
    cursor: pointer;
}

@media (max-width: 477px) {
    .Sidebar{
        display: none;
    }
}